<button onclick="window.location='/checkout/payment'">Checkout</button>
<!-- <div class="cart-box wrapper user"> -->
<div class="container"style="background-color: antiquewhite;">
  <% let cartTotal = 0 %> <% cart.forEach(item => { %>
  <table id="cart" class="table  table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="row">
            <div class="col-sm-2 hidden-xs">
              <img class="product-image" src="<%= item.image %> " width="100" height="100" />
            </div>
            <div class="col-sm-10">
              <div class="product-details">
                <div class="nomargin">Name: <%= item.name %></div>
                <div class="product-description">Description: <%= item.description %>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td data-th="Price"> Price: <%= count[item._id]*item.price %> SAR
        <td data-th="Quantity">Quantity: <%= count[item._id] %>
          <div>
            <form action="/cart/delete/<%=item._id%>?_method=DELETE" method="POST">
              <input type="submit" name="" value="Delete" />
            </form>
          </div>
          <div class="d-flex">
            <form action="/cart/update/add/<%=item._id%>?_method=PUT" method="POST">
              <input type="submit" name="" value="+" />
              <input type="hidden" name="qty" value="<%= count[item._id] %>" />
              <input type="hidden" name="itemQTY" value="<%= item.quantity %>" />
            </form>
            <form action="/cart/update/remove/<%=item._id%>?_method=PUT" method="POST">
              <input type="submit" name="" value="-" />
              <input type="hidden" name="qty" value="<%= count[item._id] %>" />
              <input type="hidden" name="itemQTY" value="<%= item.quantity %>" />
            </form>
          </div>
          <% cartTotal += (count[item._id]*item.price) %>
        </td>
        <td>
          <div>Order Total: <%= cartTotal %> SAR</div>
        </td>
      </tr>
    </tbody>
  </table>
  <% }) %>
</div>
</div>
</div>
</div>