<button onclick="window.location='/item/create'">Create new Item</button>
<div class="wrapper">
    <h1 class="ItemPage">Item Page</h1>
    <div class="clear"></div>
    <!-- items -->
    <div class="items">
        <!-- single item -->
        <% item.forEach(card => { %> 
        <div class="item">
            <img width="200" height="300" src="<%= card.image %>" alt="item" />
            <h2 class="cardName"><%= card.name %></h2>
            <p>Price: <em><%= card.price %> SAR</em></p>
            <p>Quantity: <em><%= card.quantity %></em></p>
            <form action="/item/delete/<%=card._id%>?_method=DELETE" method="POST">
                <input type="submit" name="" value="Delete" />
              </form>                          
        </div>
        <% }) %>
    </div>
</div>